extends /_include/_layout.pug

block title
  title 购买成功 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '购买成功',
        href: '/auth/regist/complete/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.contentSection
    h1.contentSection__title.contentSection__title--center 购买成功

    - var step = 7;
    include /_include/_steplist.pug

    div.l-contentsInner.l-contentsInner--form

      p.contentSection__note.contentSection__note--center.contentSection__note--large 感谢您的购物
        
      p.l-contentsInner__buttons
        a(href="/").l-button--submit
          i.l-button__icon.icon--arrowLeft
          span.l-button__label 返回首页
    

