extends /_include/_layout.pug

block title
  title 指定收货地址 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '指定收货地址',
        href: '/ec/cart/ship/new/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.contentSection
    h1.contentSection__title.contentSection__title--center 指定收货地址

    - var step = 2;
    include /_include/_steplist.pug

    div.l-contentsInner.l-contentsInner--form
      p.contentSection__note.contentSection__note--center 请输入下列所有项目（<i class="is-required"></i>必填）
      form(action="/ec/cart/addition/", method="POST")
        ul.l-form
          li.l-form__item
            .l-form__columns
              .l-form__column
                label.l-form__label
                  h4.l-form__title.is-required 姓
                  p.l-form__detail
                    input(type="text")
              .l-form__column
                label.l-form__label
                  h4.l-form__title.is-required 名
                  p.l-form__detail
                    input(type="text")
          li.l-form__item
            label.l-form__label.l-form__label--half
              h4.l-form__title.is-required 手机号码
              p.l-form__detail
                input(type="text")
          li.l-form__item
            label.l-form__label
              h4.l-form__title.is-required 電子信箱
              p.l-form__detail
                input(type="text")
          li.l-form__item
            label.l-form__label.l-form__label--select
              h4.l-form__title.is-required 国家
              p.l-form__detail
                select
                  option 请选择国家或地区
                  option china
          li.l-form__item
            label.l-form__label.l-form__label--half
              h4.l-form__title.is-required 邮编号码
              p.l-form__detail
                input(type="text")
          li.l-form__item
            label.l-form__label
              h4.l-form__title.is-required 省市县乡镇村
              p.l-form__detail
                input(type="text")
          li.l-form__item
            label.l-form__label
              h4.l-form__title.is-required 详细地址
              p.l-form__detail
                input(type="text")
        h2.c-heading--3 指定收货地址
        ul.l-form
          li.l-form__item
            label.l-form__label.l-form__label--plain
              p.l-form__detail
                input#checkbox_2.js-lc--confirmShipAddress(type="checkbox", checked)
                label(for="checkbox_2") 同一收貨地址是購買信息
        .js-lc--shipAddressArea
          ul.l-form
            li.l-form__item
              .l-form__columns
                .l-form__column
                  label.l-form__label
                    h4.l-form__title.is-required 姓
                    p.l-form__detail
                      input(type="text")
                .l-form__column
                  label.l-form__label
                    h4.l-form__title.is-required 名
                    p.l-form__detail
                      input(type="text")
            li.l-form__item
              label.l-form__label.l-form__label--half
                h4.l-form__title.is-required 手机号码
                p.l-form__detail
                  input(type="text")
            li.l-form__item
              label.l-form__label.l-form__label--select
                h4.l-form__title.is-required 国家
                p.l-form__detail
                  select
                    option 请选择国家或地区
                    option china
            li.l-form__item
              label.l-form__label.l-form__label--half
                h4.l-form__title.is-required 邮编号码
                p.l-form__detail
                  input(type="text")
            li.l-form__item
              label.l-form__label
                h4.l-form__title.is-required 省市县乡镇村
                p.l-form__detail
                  input(type="text")
            li.l-form__item
              label.l-form__label
                h4.l-form__title.is-required 详细地址
                p.l-form__detail
                  input(type="text")

        p.contentSection__note.contentSection__note--center 
          input#checkbox_1.js-confirmConsent(type="checkbox")
          label(for="checkbox_1") 同意隐私政策

          a(hre="").l-button--cancel.js-closeModal
            span.l-button__label 隐私政策
            i.l-button__icon.icon--arrowRight
                
        p.l-contentsInner__buttons
          button(type="submit").l-button--submit
            span.l-button__label 确认
            i.l-button__icon.icon--arrowRight
        
        script.
          $(function () {
            if ($('.js-confirmConsent').length) {
              var $confirmConcent = $('.js-confirmConsent');
              var $form = $confirmConcent.closest('form');
              var $submit = $form.find(':submit');
              confirmConcent();
              $confirmConcent.on('change', function () {
                confirmConcent();
              });
              function confirmConcent () {
                $submit.prop('disabled', !$confirmConcent.prop('checked'));
              }
            }
            
            if ($('.js-lc--confirmShipAddress').length) {
              var $confirmShipAddressInput = $('.js-lc--confirmShipAddress');
              confirmShipAddress();
              $confirmShipAddressInput.on('change', function () {
                confirmShipAddress();
              });
              function confirmShipAddress () {
                if ($confirmShipAddressInput.prop('checked')) {
                  $('.js-lc--shipAddressArea').hide();
                } else {
                  $('.js-lc--shipAddressArea').show();
                }
              }
            }
          });
    

