extends ../../../_include/_layout.pug

block title
  title 重新設定密碼 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '重新設定密碼',
        href: '/'
      },
      {
        name: '重新設定密碼',
        href: '/auth/password_reconfirm/'
      }
    ]
  include ../../../_include/_breadcrumblist.pug


  section.contentSection
    h1.contentSection__title.contentSection__title--center 重新設定密碼

    div.l-contentsInner.l-contentsInner--form
      form(action="/ec/consumer/history/", method="POST")
        ul.l-form
          li.l-form__item
            .l-form__columns
              .l-form__column
                label.l-form__label
                  h4.l-form__title.is-required 密码
                  p.l-form__detail
                    input(type="text")
              .l-form__column
                label.l-form__label
                  h4.l-form__title.is-required 重新輸入
                  p.l-form__detail
                    input(type="text")
                
        p.l-contentsInner__buttons
          button(type="submit").l-button--submit
            span.l-button__label 登入
            i.l-button__icon.icon--check
    

