{% set navCategories = #navCategories# | split(',') %}

  </main>
  <footer class="l-footer">
    <p class="l-footer__copyright"><small>&copy; 2019 Sterfield Co., Ltd.</small></p>
  </footer>

  {% TemplateInclude "common scripts" %}

</body>
</html>