extends _include/_layout.pug

block header
  - var isHome = true
  include _include/_header.pug
block content
  ul.mainvisual
    li.mainvisual__item
      a(href="")

  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br